:root {
  --clr-primary: #ee6352;
  --clr-secondary: #d16e8d;
  --clr-accent: #f7f7ff;
  --clr-gradient: linear-gradient(
    -90deg,
    var(--clr-primary),
    var(--clr-secondary)
  );
  --ff-title: bungee, sans-serif;
  --ff-body: canada-type-gibson, sans-serif;
  --fw-body: 300;
  --fw-bold: 800;
  --fw-title: 400;
  --fw-number: 800;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background: #f8fafc;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  color: beige;
}

/* Structure of the page */

.container {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.fs62 {
  font-size: 3.875rem;
  background: var(--clr-gradient);
}

.fs32 {
  font-size: 2rem;
}

.fs28 {
  font-size: 1.5rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.bgc-green {
  background-color: green;
}

.bgc-red {
  background-color: red;
}

.bgc-blue {
  background-color: blue;
}

/* home head area */
.head {
  width: 100%;
  text-align: center;
  background: var(-clr-gradient);
  text-transform: uppercase;
  margin: 60px auto;
  /* background-image: url("/rescources/images/pattern.jpeg"); */
  color: rgb(235, 234, 227);
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 1px 4px #022033;
  padding: 1em;
  clip-path: polygon(0 0, 100% 0%, 100% 60%, 0% 100%);
}

img {
  border-radius: 10px;
  box-shadow: 0 4px 10px #00000033;
}

h3 {
  color: black;
  margin: 0;
}
p {
  color: rgb(82, 79, 79);
  margin: 0.5em;
  font-size: 1rem;
}

.section {
  width: 100%;
  text-align: center;
  margin: 0 1em;
}

.section,
.description {
  flex: 30%;
}

.section h2 {
  width: 80%;
  margin: 1rem auto;
  box-shadow: 0px 2px 2px #022033;
}

/* prices */
.price-color {
  color: blue;
  font-weight: 600;
}

@media (max-width: 500px) {
  .fs62 {
    font-size: 2.875rem;
  }

  .fs32 {
    font-size: 1.5rem;
  }

  .fs28 {
    font-size: 1.115rem;
  }
}

@media (max-width: 640px) {
  .container,
  .head {
    max-width: 100%;
  }
}
